.invisible {
    display: none;
}

.visible {
    display: inline;
}

.colorname {
    display: inline;
}

.colorname span {
    animation: colorChange 1s infinite;
    font-size: larger;
}

@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: purple; }
}
